main {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

body {
  background: #282828;
  color: #ebdbb2;
}

a {
  background-color: #d79921;
  color: inherit;
}

