main {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

body {
  background: #fdf6e3;
  color: #657b83;
}

// unclicked links
a { color: #b58900 }

// clicked links
a:visited { color: #586e75; }

@media (prefers-color-scheme: dark) {
  body {
    background: #002b36;
    color: #839496;
  }

  // clicked links
  a:visited { color: #93a1a1; }
}
